* {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    font-family: 'sofia-pro', 'Open Sans', sans-serif;
}

body {
    width:100%;
    height:100%;
    margin:0px;
    position:relative;
}

html {
    scroll-behavior: smooth;
}

div.shadow {
    position: absolute;
    max-width: 93%;
    top: 59%;
    left: 50%;
    overflow: visible;
}

.header_wrap {
    background: transparent;
}

.header_wrap.active {
    background: #7e7afb;
}

img.offer {
    position:relative;
    max-width:100%;
    max-height:100%;
    margin-top:0;
    margin-left:0;
}

.header_main {
  min-height: 373px;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../img/CodePrompt_topcover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 54% 0px;
  color: #fff;
  width: 100%;
  padding-bottom: 50px;
}

.header_left {
    overflow: hidden;
    padding: 13px 20px 0px 20px;
}

h1.logo {
    font-size: 20px;
    width: 150px;
}

h1.logo {
    font-size: 20px;
    width: 114px;
    float: left;
}

.menu {
    display: none;
}
  
ul.navigation li {
    margin-bottom: 20px;
}

.navigation li a {
    display:block;
}

.menu.active {
    display: block;
    position: fixed;
    height: 96vh;
    width: 230px;
    padding: 20px 25px;
    z-index: 100;
    top: 0;
    background: white;
    right: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #636C7E;
    font-weight: 300;
    font-size: 14px;
}
  
.main_header .main_nav.active .bottom {
    text-align: center;
    margin-right: 15px;
    display: inline;
}
  
li.menu_hover:hover {
    opacity: .8;
}

div.green_btn:hover {
    opacity: .8;
}

h1.logo:hover {
    opacity: .8;
}

div.button_white:hover {
    opacity: .8;
}

div.button_white_footer:hover {
    opacity: .8;
}

nav.menu {
    display: none;
}

ul.navigation a {
    color: #636C7E;
}

a.hamburger {
    float: right;
}

i.fas.fa-bars {
    font-size: 20px;
}

ul.header_right {
    display: none;
}

.header_wrap {
    padding: 0px 20px 0px 0px;
    position: fixed;
    width: 100%;
    top: 0;
    height: 55px;
    z-index: 1;
}

.hero_content {
    padding-top: 41px;
    padding-left: 23px;
    width: 83%;
}

h2.code {
    margin: 30px 0px;
    font-size: 18px;
    margin-top: 50px;
}

h3.code_subheading {
    margin-bottom: 30px;
    font-size: 14px;
    font-weight: 500;
}

p.para {
    font-size: 12px;
    margin-bottom: 25px;
    line-height: 19px;
    font-weight: 200;
}

.button_left {
    padding: 12px 9px;
    background-color: #fff;
    color: #3b5fe3;
    border-radius: 7px;
    text-align: center;
    width: 132px;
    font-size: 12px;
    font-weight: 600;
}

.button_left:hover {
    opacity: .8;
}

.button_blue {
    margin: 0 auto;
    padding: 12px 9px;
    background-color: #3b5fe3;
    color: #fff;
    border-radius: 7px;
    text-align: center;
    width: 132px;
    font-size: 12px;
    font-weight: 500;
    margin-top: 27px;
    margin-bottom: 27px;
}

.button_blue:hover {
    opacity: .8;
}

.button_white {
    margin: 0 auto;
    margin-bottom: -4px;
    padding: 12px 9px;
    background-color: #fff;
    color: #3b5fe3;
    border-radius: 7px;
    text-align: center;
    width: 132px;
    font-size: 13px;
    font-weight: 500;
    margin-top: 27px;
}

.button_blue a {
    color: #fff;
}

h3.center_head {
    text-align: center;
    font-size: 14px;
    padding-bottom: 20px;
    // padding-top: 35px;
    font-weight: 600;
    color: #4d4d4d;
}

.green_btn {
    display: none;
}

.main {
    background-color: #f8faff;
    width: 100%;
}

section.section_one {
    width: 100%;
    margin: 0 auto;
    padding-top: 30px;
}

hr {
    background-color: #3b5fe3;
    width: 34px;
    margin: 0 auto;
    height: 1px;
    border: none;
}

figure.fig_one {
    width: 92%;
    margin: 0 auto;
}

.fig_one img {
    width: 76%;
    padding-top: 30px;
    min-height: 130px;
    padding-left: 26px;
}

li.list_one {
  background-color: #fff;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 24px;
  padding: 14px;
  min-height: 196px;
  -webkit-box-shadow: 1px 1px 7px 2px #eef0f5;
  box-shadow: 1px 1px 7px 2px #eef0f5;
}

.list_sub_heading {
  font-size: 12px;
  color: #6b6b6b;
}

.cross img {
  background-repeat: no-repeat;
  width: 5%;
  margin-left: 18px;
}

.list_sub_para {
    font-size: 10px;
    line-height: 15px;
    color: #6b6b6b;
    padding-top: 20px;
    padding-bottom: 6px;
}

ul.unlist_one {
    width: 88%;
    margin: 0 auto;
}

ul.unlist_two {
    width: 90%;
    margin: 0 auto;
}

ul.unlist_two {
    width: 89%;
    margin: 0 auto;
}

li.list_two {
    border-radius: 8px;
    margin-top: 24px;
    padding: 0px 30px;
    background-color: #fff;
    min-height: 270px;
}

li.footer_list:first-child{
    padding-left: 0
}

figure.fig_two.img_last {
    width: 100%;
}

h3.list_two_heading {
    text-align: center;
    font-size: 12px;
    color: #666666;
    padding-top: 22px;
    padding-bottom: 22px;
}

figure.fig_two {
    width: 75%;
    margin: 0 auto;
    background-repeat: no-repeat;
}

figure.fig_two img {
    width: 100%;
    margin: 0 auto;
    min-height: 142px;
}

.two_para {
    text-align: center;
    font-size: 10px;
    line-height: 15px;
    color: #9d9d9d;
    padding-top: 22px;
    padding-bottom: 22px;
}

section.section_two {
    background-image: url('../img/benifits-bgsvg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 32% 0;
    padding-bottom: 45px;
    width: 100%;
    padding-top: 30px;
}

figure.fig_two_last img {
    width: 100%;
    margin: 0 auto;
}

.white {
  color: #fff !important;
}

section.section_three {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 25px;
    padding-top: 30px;
}

li.list_three {
    width: 71%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    padding: 0px 14px;
    margin: 0 auto;
    margin-top: 25px;
    min-height: 200px;
    -webkit-box-shadow: 1px 1px 7px 2px #eef0f5;
    box-shadow: 1px 1px 7px 2px #eef0f5;
}

figure.fig_three {
    padding-bottom: 0px;
    width: 83%;
    margin: 0 auto;
    padding: 25px 0px 20px 0px;
}

.fig_three img {
    width: 100%;
    min-height: 132px;
}

p.three_para.icon {
    width: 60%;
}

.three_para {
    text-align: center;
    margin: 0 auto;
    font-size: 12px;
    width: 100%;
    padding-bottom: 20px;
    color: #6f7589;
}

ul.list_three {
    padding-bottom: 24px;
    width: 90%;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.free {
    color: #fff;
    text-align: center;
}

.section_four {
    background-image: url(../img/Free_Session_bg.png);
    background-size: cover;
    width: 100%;
    background-position: 82% 0;
    padding-bottom: 3px;
}

.overlay {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 0;
    top: 0;
    left: 0;
    background: rgba(22,26,33,0.4);
}

.overlay.active {
    display: block;
}

.session_wrapper {
    margin: 0 auto;
    position: relative;
}

.free_session_left {
    width: 80%;
    margin: 0 auto;
}

h4.Free {
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    margin-top: 5px;
}

.small_text {
  font-size: 15px;
  font-weight: normal;
}

.request_text {
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding-bottom: 15px;
    margin-top: 0px;
    font-weight: 200;
}

figure.badgets {
    width: 100%;
    margin: 0 auto;
    padding-top: 7px;
}

figure.badgets img {
    width: 80px;
    display: flex;
    margin: 0 auto;
}

.button_white_footer {
    margin: 0 auto;
    padding: 12px 9px;
    background-color: #fff;
    color: #3b5fe3;
    border-radius: 7px;
    text-align: center;
    width: 125px;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 21px;
}

figure.fig_four.shadow {
    width: 75%;
    margin: 0 auto;
    margin-top: 11px;
}

.bottom_footer {
    background-color: #1d2e42;
    color: #fff;
    text-align: center;
    padding: 15px 1px;
}

figure.fig_four_twice {
    display: none;
}
.footer_wrapper {
    width: 90%;
    margin: 0 auto;
    font-size: 12px;
}

ul.footer_list_group {
    padding-bottom: 18px;
    display: flex;
    justify-content: center;
}

li.footer_list {
    float: left;
    padding-left: 18px;
    position: relative;
}

li.footer_list:hover {
    opacity: .8;
}

li.footer_list a {
    color: #fff;
}

.bottom {
    text-align: center;
    padding-bottom: 10px;
}

.bottom li a {
    font-size: 11px;
    color: #636C7E;
    font-weight: 300;
}

ul.footer_list_group li:after {
    content: '';
    position: absolute;
    width: 1px;
    height: 12px;
    top: 4px;
    background: white;
    margin-left: 10px;
    margin-right: 10px;
}

small {
    font-size: 12px;
}

p.text {
    padding-bottom: 12px;
}

li:last-child:after {
    display: none;
}

@media only screen and (min-width: 320px) and (max-width: 359px)  {
    ul.footer_list_group li:after {
        content: '';
        position: absolute;
        width: 1px;
        height: 12px;
        top: 4px;
        background: white;
        margin-left: 27px;
        margin-right: 10px;
    }

   li:last-child:after {
       content: none;
    }
}

@media only screen and (min-width: 768px) {
    .header_wrap {
        height: 70px;
        z-index: 1;
    }
     
    .header_main {
        min-height: 373px;
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../img/CodePrompt_topcover.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 54% 0px;
        color: #fff;
        width: 100%;
        padding-bottom: 95px;
    }

    h2.code {
        font-size: 32px;
        margin: 0;
        margin-top: 44px;
    }

    .hamburger {
        display: none;
    }

    h3.code_subheading {
        margin-bottom: 18px;
        margin-top: 12px;
        font-size: 24px;
    }

    p.para {
        font-size: 16px;
        margin-bottom: 27px;
        line-height: 32px;
        font-weight: 300;
    }
    
    .menu.active {
        display: none;
    }
    
    .button_left {
        padding: 22px 8px;
        background-color: #fff;
        color: #3b5fe3;
        border-radius: 10px;
        text-align: center;
        width: 190px;
        font-size: 16px;
    }

    h3.center_head {
        text-align: center;
        font-size: 32px;
        padding-bottom: 52px;
        padding-top: 78px;
        font-weight: 600;
        color: #4d4d4d;
    }

    hr {
        background-color: #3b5fe3;
        width: 60px;
        margin: 0 auto;
        height: 2px;
        margin-bottom: 46px;
        border: none;
    }

    .list_sub_heading {
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 58px;
        color: #6b6b6b;
    }
  
    .hero_content {
        width: 59%;
        padding-top: 89px;
        padding-left: 30px;
    }
    ul.bottom.side_menu_item {
        display: none;
    }

    nav.menu {
        display: block;
        margin-top: 2px;
    }

    ul.navigation a {
    color: #e4e4e4;
    }

    ul.navigation {
        display: flex;
        padding-left: 100px;
    }

    ul.navigation li {
        padding-right: 25px;
        font-weight: 300;
    }

    .green_btn {
        display: none;
    }

    .header_left {
        overflow: hidden;
        padding: 20px 18px 0px 40px;
    }

    h1.logo {
        font-size: 20px;
        width: 150px;
        float: left;
    }

    ul.unlist_one {
        overflow: hidden;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    li.list_one {
        background-color: #fff;
        border-radius: 8px;
        padding: 20px 31px 31px 31px;
        margin: 0 auto;
        width: 34%;
        float: left;
        margin-left: 18px;
        margin-right: 18px;
        min-height: 328px;
    }

    section.section_one {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 43px;
        padding-top: 0px;
    }

    section.section_two {
        background-image: url(../img/benifits-bgsvg.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 32% 0;
        padding-bottom: 75px;
        width: 100%;
        padding-top: 0px;
    }

    ul.unlist_two {
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }

    figure.fig_two img {
        width: 100%;
        margin: 0 auto;
        min-height: 177px;
    }

    h3.list_two_heading {
        padding-top: 0px;
    }

    .two_para {
        text-align: center;
        font-size: 16px;
        line-height: 17px;
        color: #9d9d9d;
        padding-bottom: 0px;
    }

    li.list_two {
        margin-bottom: 64px;
        border-radius: 8px;
        padding: 27px 22px 40px 22px;
        background-color: #fff;
        float: left;
        width: 37.3%;
        min-height: 350px;
        margin: 0px 25px 41px 25px;
    }

    figure.fig_two.img_last {
        width: 100%;
    }

    figure.img_one img {
        width: 97%;
        padding-bottom: 23px;
    }

    figure.last img {
        width: 100%;
    }

    section.section_three {
        overflow: hidden;
        width: 100%;
        margin: 0 auto;
        height: auto;
    }

    .list_sub_para {
        font-size: 16px;
        line-height: 22px;
        color: #6b6b6b;
    }

    h3.list_two_heading {
        text-align: center;
        font-size: 16px;
        color: #666666;
    }

    ul.list_three {
        height: 597px;
        width: 540px;
        margin: 0 auto;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        padding-top: 9px;
    }

    li.list_one.last_three {
        background-color: #fff;
        border-radius: 8px;
        padding: 20px 31px 33px 31px;
        margin-top: 48px;
        width: 60%;
        float: left;
        min-height: 403px;
    }

    .fig_three img {
        width: 100%;
        min-height: 152px;
    }

    li.list_three {
        width: 36%;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 8px;
        padding: 0px 14px 0px 14px;
        margin: 0 auto;
        min-height: 245px;
        margin-bottom: 70px;
    }

    figure.fig_three {
        width: 69%;
        margin: 0 auto;
        padding: 0;
    }

    .button_blue {
        padding: 18px 9px;
        background-color: #fff;
        color: #fff;
        border-radius: 10px;
        text-align: center;
        margin: 0 auto;
        width: 165px;
        font-size: 16px;
        background-color: #3b5fe3;
        margin-top: 43px;
    }

    .button_white {
        text-align: center;
        margin: 0 auto;
        padding: 18px 9px;
        background-color: #fff;
        color: #3b5fe3;
        border-radius: 7px;
        text-align: center;
        width: 165px;
        font-size: 17px;
        margin-top: 16px;
    }

    .three_para {
        text-align: center;
        margin: 0 auto;
        font-size: 16px;
        line-height: 26px;
        width: 100%;
        padding-bottom: 10px;
        color: #6f7589;
        width: 87%;
    }

    .fig_one img {
        width: 85%;
        padding-top: 0px;
        min-height: 130px;
        padding-left: 26px;
    }

    figure.fig_one {
        width: 88%;
        margin: 0 auto;
    }

    figure.fig_one.last_img {
        padding-bottom: 0px;
    }

    .third_button {
        margin-bottom: 58px;
    }

    section.section_three {
        padding-bottom: 0px;
        padding-top: 0px;
    }

    .section_four {
        background-image: url(../img/Free_Session_bg.png);
        background-size: cover;
        width: 100%;
        background-position: 82% 0;
        padding-bottom: 0px;
    }

    .session_wrapper {
        width: 82%;
        margin: 0 auto;
        display: flex;
        padding: 16px;
        padding-bottom: 38px;
    }

    .free_session_left {
        width: 50%;
    }

    figure.badgets {
        width: 61%;
        margin: 0 auto;
    }

    .request_sub {
        padding-top: 0px;
    }

    figure.badgets img {
        width: 108px;
        margin-top: 37px;
        margin-left: 26px;
    }

    h4.Free {
        text-align: center;
        color: #fff;
        font-size: 28px;
        padding-bottom: 28px;
        margin-top: 15px;
    }

    .request_text {
        color: #fff;
        font-size: 16px;
        text-align: center;
        padding-bottom: 33px;
    }

    .small_text {
        font-size: 28px;
        font-weight: normal;
    }

    .button_white_footer {
        text-align: center;
        margin: 0px auto;
        margin-bottom: 40px;
        padding: 17px 9px;
        background-color: #fff;
        color: #3b5fe3;
        border-radius: 7px;
        text-align: center;
        width: 50%;
        font-size: 16px;
    }

    figure.fig_four.shadow {
        display: none;
    }

    figure.fig_four_twice {
        display: block;
    }

    .free_session_offer {
        width: 60%;
        margin-top: 95px;
        padding: 10px;
    }

    .fig_four img {
        width: 100%;
    }

    .footer_wrapper {
        width: 94%;
        margin: 0 auto;
        font-size: 12px;
    }

    li.footer_list {
        float: left;
        padding-left: 12px;
        padding-right: 10px;
    }

    ul.footer_list_group li:after {
        content: '';
        position: absolute;
        width: 1px;
        height: 12px;
        top: 4px;
        background: white;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (min-width: 1024px) {
    .hero_content {
        width: 723px;
        padding-top: 89px;
        padding-left: 40px;
    }

    li.footer_list:first-child{
        padding-left: 0
    }

    .header_main {
        min-height: 373px;
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../img/CodePrompt_topcover.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 54% 0px;
        color: #fff;
        width: 100%;
        padding-bottom: 85px;
    }

    .hamburger {
        display: none;
    }

    h2.code {
        font-size: 45px;
        margin-top: 20px;
    }

    h3.code_subheading {
        margin-bottom: 23px;
        margin-top: 15px;
        font-size: 36px;
    }

    p.para {
        font-size: 22px;
        margin-bottom: 37px;
        line-height: 32px;
    }

    .button_left {
        padding: 21px 9px;
        background-color: #fff;
        color: #3b5fe3;
        border-radius: 7px;
        text-align: center;
        width: 193px;
        font-size: 16px;
        font-weight: 400;
    }

    .button_white {
        padding: 21px 9px;
        background-color: #fff;
        color: #3b5fe3;
        border-radius: 7px;
        text-align: center;
        width: 193px;
        font-size: 18px;
        font-weight: 400;
        margin-top: 16px;
        margin-bottom: 30px;
    }

    .header_wrap {
        // padding: 0px 41px 0px 9px;
        z-index: 1;
    }

    h1.logo {
        font-size: 20px;
        width: 150px;
        float: left;
        margin-top: 11px;
    }

    nav.menu {
        display: block;
        margin-top: 13px;
        float: left;
    }

    .green_btn {
        display: block;
        float: right; 
        width: 116px;
        background-color: #FF7052;
        border-radius: 7px;
        padding: 10px;
        text-align: center;
        margin-top: 6px;
    }

    .header_left {
        overflow: hidden;
        padding: 8px 0px 0px 40px;
    }

    .right_box {
        margin-right: 40px;
    }

    .green_btn a {
        color: #fff;
    }

    ul.navigation {
        display: flex;
        color: #d2d2d2;
        padding-left: 82px;
    }

    .list_sub_heading {
        font-size: 16px;
        padding-top: 0px;
        padding-bottom: 59px;
        color: #6b6b6b;
    }

    li.list_one {
        background-color: #fff;
        border-radius: 8px;
        margin: 0 auto;
        width: 26%;
        float: left;
        min-height: 320px;
    }

    .two_para {
        text-align: center;
        font-size: 16px;
        line-height: 22px;
        color: #9d9d9d;
    }

    p.three_para.icon {
        width: 71%;
    }

    .list_sub_para {
        font-size: 16px;
        color: #6b6b6b;
        padding: 19px 6px 0px 6px;
    }

    .button_blue {
        background-color: #3b5fe3;
        color: #fff;
        border-radius: 7px;
        text-align: center;
        width: 193px;
        font-size: 16px;
        font-weight: 400;
        margin-top: 46px;
    }

    section.section_one {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 46px;
        padding-top: 0px;
    }

    section.section_two {
        background-image: url(../img/benifits-bgsvg.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 32% 0;
        padding-bottom: 46px;
        width: 100%;
        padding-top: 0px;
    }

    ul.unlist_one {
        overflow: hidden;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        width: 80%;
    }

    li.list_one {
        background-color: #fff;
        border-radius: 8px;
        margin: 0 auto;
        width: 32.3%;
        float: left;
        min-height: 330px;
        padding: 33px 33px 33px 33px;
    }

    li.list_two {
        border-radius: 8px;
        background-color: #fff;
        float: left;
        width: 329px;
        min-height: 360px;
        height: auto;
    }

    figure.fig_two {
        width: 70%;
        margin: 0 auto;
        background-repeat: no-repeat;
    }

    h3.list_two_heading {
        text-align: center;
        font-size: 16px;
        padding-bottom: 10px;
        color: #666666;
    }

    h3.center_head {
        text-align: center;
        font-size: 32px;
        padding-bottom: 53px;
        padding-top: 70px;
        font-weight: 600;
        color: #4d4d4d;
    }

    hr {
        background-color: #3b5fe3;
        width: 60px;
        margin: 0 auto;
        height: 2px;
        margin-bottom: 40px;
        border: none;
    }

    ul.unlist_two {
        width: 85%;
        margin: 0 auto;
        overflow: hidden;
    }

    figure.fig_two img {
        width: 100%;
        margin: 0 auto;
        min-height: 216px;
        padding-bottom: 0px;
    }

    figure.fig_two.img_last {
        width: 96%;
    }

    ul.list_three {
        height: 663px;
        width: 100%;
        margin: 0 auto;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }

    .three_para {
        text-align: center;
        margin: 0 auto;
        padding-top: 0px;
        color: #6f7589;
        font-size: 16px;
    }

    li.list_three {
        width: 19%;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 8px;
        margin: 0 auto;
        margin-top: 43px;
        margin: 0px;
        min-height: 240px;
    }

    .session_wrapper {
        width: 82%;
        margin: 0 auto;
        display: flex;
        padding: 16px;
        padding-bottom: 0px;
    }

    figure.fig_three {
        width: 65%;
        margin: 0 auto;
        padding: 0;
        padding-top: 14px;
    }

    .fig_three img {
        width: 100%;
        min-height: 118px;
    }

    ul.list_three {
        height: auto;
        width: 100%;
        margin: 0 auto;
        margin-top: 28px;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }

    .third_button {
        margin-top: 40px;
        width: 190px;
    }

    .fig_four {
        width: 41%;
        margin: 0 auto;
        position: absolute;
        top: 44px;
        left: 469px;
    }

    .section_four {
        background-image: url(../img/Free_Session_bg.png);
        background-size: cover;
        width: 100%;
        background-position: 82% 0;
    }

    .fig_four img {
        width: 349px;
    }

    h4.Free {
        text-align: center;
        color: #fff;
        font-size: 29px;
        padding-bottom: 28px;
    }

    .small_text {
        font-size: 23px;
    }

    .request_text {
        color: #fff;
        font-size: 19px;
        text-align: center;
        padding-bottom: 23px;
    }

    .button_white_footer {
        text-align: center;
        margin: 0px auto;
        margin-bottom: 40px;
        padding: 19px 9px;
        background-color: #fff;
        color: #3b5fe3;
        border-radius: 7px;
        text-align: center;
        width: 176px;
        font-size: 17px;
        margin-top: 15px;
    }

    figure.badgets img {
        width: 147px;
        margin-top: 49px;
        margin-left: 26px;
    }

    .free_session_left {
        width: 50%;
        padding: 32px;
        position: relative;
        margin-top: 28px;
    }

    .free_session_offer {
        width: 52%;
        margin-top: 71px;
        padding: 10px;
    }

    figure.badgets {
        width: 41%;
        margin: 0 auto;
        position: absolute;
        top: 143px;
        right: 349px;
    }
}

@media only screen and (min-width: 1440px) {
    .header_wrap {
        width: 100%;
        margin: 0 auto;
        height: 85px;
        z-index: 1;
    }

    .header_main {
        min-height: 373px;
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../img/CodePrompt_topcover.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 54% 0px;
        color: #fff;
        width: 100%;
        padding-bottom: 116px;
    }

    .hamburger {
        display: none;
    }

    .green_btn {
        display: block;
        width: 116px;
        background-color: #FF7052;
        border-radius: 7px;
        padding: 10px;
        text-align: center;
        margin-top: 1px;
    }

    .right_box {
        display: flex;
        float: right;
        margin-right: 0px;
    }

    h1.logo {
        font-size: 20px;
        width: 145px;
    }

    .hero_content {
        margin: 0px 128px;
        width: 56%;
        padding-left: 22px;
    }

    .header_left {
        overflow: hidden;
        padding: 18px 150px 0px 150px;
    }

    .button_left {
        padding: 16px 9px;
        background-color: #fff;
        color: #3b5fe3;
        border-radius: 10px;
        text-align: center;
        width: 200px;
        font-size: 20px;
    }

    h2.code {
        margin: 4px 0px;
        font-size: 59px;
        margin-top: 51px;
    }

    h3.code_subheading {
        margin-bottom: 13px;
        font-size: 44px;
        margin-top: 9px;
    }

    p.para {
        font-size: 26px;
        margin-bottom: 49px;
        line-height: 40px;
        font-weight: 200;
    }

    h3.center_head {
        text-align: center;
        font-size: 42px;
        padding-bottom: 61px;
        padding-top: 100px;
        font-weight: 600;
        color: #4d4d4d;
    }

    .bottom_footer {
        background-color: #1d2e42;
        color: #fff;
        text-align: center;
        padding: 15px 1px;
    }

    section.section_one {
        width: 90%;
        margin: 0 auto;
        padding: 0px 43px 0px 43px;
    }

    ul.unlist_one {
        overflow: hidden;
        display: flex;
        margin-top: 46px;
        width: 100%;
    }

    li.list_one {
        background-color: #fff;
        border-radius: 8px;
        padding: 30px;
        margin: 0 auto;
        margin-top: 43px;
        width: 24%;
        float: left;
        min-height: 321px;
    }

    .list_sub_heading {
        padding-bottom: 0px;
    }

    .list_sub_para {
        padding: 19px 0px 0px 0px;
    }

    li.list_one.last_three {
        width: 31%;
        float: left;
        padding: 30px;
        min-height: 321px;
    }

    .two_para {
        text-align: center;
        font-size: 18px;
        line-height: 22px;
        margin-top: 16px;
        color: #9d9d9d;
    }

    figure.fig_one.one_last {
        margin-top: 35px;
    }

    .fig_one img {
        padding: 0px 23px;
        width: 71%;
    }

    figure.fig_one.last_img {
        width: 79%;
        padding-top: 28px;
    }

    figure.fig_one.one_last {
        margin-top: 60px;
    }

    .button_blue {
        padding: 21px 9px;
        background-color: #fff;
        color: #fff;
        border-radius: 10px;
        text-align: center;
        margin: 0 auto;
        width: 190px;
        font-size: 17px;
        background-color: #3b5fe3;
        margin-bottom: 69px;
        margin-top: 69px;
    }

    figure.badgets img {
        width: 149px;
        margin-top: -21px;
        margin-left: 38px;
    }

    .button_white {
        margin: 0 auto;
        margin-bottom: 9px;
        padding: 18px 9px;
        background-color: #fff;
        color: #3b5fe3;
        border-radius: 7px;
        text-align: center;
        width: 169px;
        font-size: 17px;
        margin-top: 41px;
    }

    ul.unlist_two {
        width: 95%;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
    }

    figure.fig_two {
        width: 75%;
        margin: 0 auto;
        background-repeat: no-repeat;
    }

    li.list_two {
        margin-bottom: 64px;
        border-radius: 8px;
        margin-top: 109px;
        padding-bottom: 5px;
        padding: 31px 25px;
        background-color: #fff;
        float: left;
        width: 300px;
        margin: 19px;
        min-height: 400px;
    }

    li.list_three {
        margin: 0 auto;
        background-color: #fff;
        border-radius: 8px;
        height: auto;
        width: 18%;
    }

    .fig_three img {
        width: 100%;
        min-height: 132px;
    }

    ul.list_three {
        width: 84%;
        margin: 0 auto;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }

    img.offer {
        position: relative;
        max-width: 100%;
        max-height: 100%;
        margin-top: 0;
        margin-left: 0px;
    }

    .button_blue.third_button {
        margin-top: 116px;
        width: 205px;
        margin-bottom: 38px;
    }

    .footer_wrapper {
        width: 94%;
        margin: 0 auto;
        font-size: 14px;
        overflow: hidden;
        position: relative;
        margin-top: 28px;

    }

    li.footer_list.span_footer {
        font-weight: 200;
    }

    ul.footer_list_group {
        padding-bottom: 29px;
        display: flex;
        justify-content: center;
        width: 44%;
        margin: 0 auto;
        margin-left: 257px;
    }

    li.footer_list {
        float: left;
        padding-left: 9px;
    }

    .button_blue.third_button {
        margin-top: 28px;
        width: 205px;
        margin-bottom: 68px;
    }

    .session_wrapper {
        width: 82%;
        margin: 0 auto;
        display: flex;
        padding: 16px;
        padding-bottom: 0px;
    }

    .free_session_left {
        width: 50%;
        padding: 32px;
        position: relative;
        margin-top: 0px;
    }

    .free_session_offer {
        width: 52%;
        margin-top: 20px;
        padding: 10px;
    }

    h4.Free {
        text-align: center;
        color: #fff;
        font-size: 37px;
        padding-bottom: 7px;
    }

    figure.badgets {
        width: 41%;
        margin: 0 auto;
        position: absolute;
        top: 143px;
        right: 411px;
    }

    .button_white_footer {
        text-align: center;
        margin: 0px auto;
        margin-bottom: 40px;
        padding: 20px 9px;
        background-color: #fff;
        color: #3b5fe3;
        border-radius: 7px;
        text-align: center;
        width: 193px;
        font-size: 17px;
        margin-top: 30px;
    }

    .fig_four {
        width: 41%;
        margin: 0 auto;
        position: absolute;
        top: 44px;
        left: 629px;
    }
    
    .fig_four img {
        width: 448px;
    }

    .small_text {
        font-size: 26px;
        line-height: 82px;
    }

    p.text {
        float: right;
        position: absolute;
        top: 0px;
        right: 117px;
    }

    small {
        float: left;
        font-size: 14px;
        position: absolute;
        top: 0px;
        left: 117px;
    }
}

@media only screen and (min-width: 1920px) {
    h1.logo {
        font-size: 20px;
        width: 130px;
        margin-top: 17px;
    }

    .header_main {
        min-height: 373px;
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),url(../img/CodePrompt_topcover.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 54% 0px;
        color: #fff;
        width: 100%;
        padding-bottom: 13px;
    }

    .hamburger {
        display: none;
    }

    .green_btn {
        display: block;
        width: 116px;
        background-color: #FF7052;
        border-radius: 7px;
        padding: 10px;
        text-align: center;
        margin-top: 10px;
    }

    ul.navigation {
        display: flex;
        color: #d2d2d2;
        padding-left: 76px;
        margin-top: 6px;
    }

    h2.code {
        margin: 0px 0px;
        font-size: 55px;
        margin-top: 45px;
    }

    .header_wrap {
        width: 100%;
        margin: 0 auto;
        z-index: 1;
    }

    .right_box {
        display: flex;
        float: right;
        margin-right: 245px;
    }

    .hero_content {
        margin: 85px 222px;
        width: 57%;
        margin-top: 0px;
        padding-top: 80px;
    }

    h3.code_subheading {
        margin-bottom: 30px;
        font-size: 42px;
        margin-top: 5px;
    }
    
    p.para {
        font-size: 24px;
        margin-bottom: 72px;
        line-height: 39px;
        padding-top: 11px;
    }

    .button_left {
        padding: 23px 16px;
        font-size: 16px;
        width: 190px;
    }

    section.section_one {
        width: 74%;
        margin: 0 auto;
    }

    h3.center_head {
        text-align: center;
        font-size: 36px;
        padding-bottom: 55px;
        padding-top: 97px;
        font-weight: 600;
        color: #4d4d4d;
    }

    h3.list_sub_heading.move_head {
        margin-top: 13px;
        font-size: 16px;
    }

    .list_sub_heading {
        font-size: 16px;
        padding-top: 11px;
        padding-bottom: 41px;
        color: #6b6b6b;
    }

    .header_wrap {
        padding: 0px 41px 0px 40px;
        z-index: 1;

    }

    .button_blue {
        padding: 23px 9px;
        background-color: #fff;
        color: #fff;
        border-radius: 10px;
        text-align: center;
        margin: 0 auto;
        width: 190px;
        font-size: 16px;
        background-color: #3b5fe3;
        margin-bottom: 85px;
        margin-top: 68px;
    }

    .button_white {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 40px;
        padding: 23px 9px;
        background-color: #fff;
        color: #3b5fe3;
        border-radius: 7px;
        text-align: center;
        width: 190px;
        font-size: 16px;
        margin-top: 53px;
    }

    li.list_one {
        background-color: #fff;
        border-radius: 8px;
        padding: 0px 22px;
        margin: 0 auto;
        margin-top: 43px;
        width: 330px;
        float: left;
        margin: 17px;
        min-height: 425px;
    }

    li.list_one.last_three {
        background-color: #fff;
        border-radius: 8px;
        padding: 13px 22px;
        margin: 0 auto;
        margin-top: 43px;
        width: 489px;
        float: left;
        margin: 17px;
        min-height: 400px;
    }

    p.list_sub_para.down {
        padding-top: 30px;
    }

    figure.fig_one.one_last {
        margin-top: 37px;
    }

    figure.fig_one.last_img {
        padding-top: 0px;
    }

    h3.list_two_heading {
        text-align: center;
        font-size: 16px;
        padding-bottom: 10px;
        color: #666666;
    }

    figure.fig_two {
        width: 64%;
        margin: 0 auto;
        background-repeat: no-repeat;
    }
    
    .three_para {
        text-align: center;
        margin: 0 auto;
        padding-top: 0px;
        font-size: 16px;
        line-height: 29px;
        color: #6f7589;
    }

    hr {
        background-color: #3b5fe3;
        width: 60px;
        margin: 0 auto;
        height: 2px;
        border: none;
    }

    .header_left {
        overflow: hidden;
        padding: 9px 75px 0px 217px;

    }

    ul.unlist_two {
        width: 78%;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        margin-top: 41px;
    }

    li.list_two {
        margin-bottom: 64px;
        border-radius: 8px;
        margin-top: 109px;
        padding-bottom: 38px;
        padding: 31px 25px;
        background-color: #fff;
        float: left;
        width: 330px;
        margin: 19px;
        height: auto;
    }

    figure.fig_two img {
        width: 100%;
        margin: 0 auto;
        min-height: 196px;
        padding-top: 29px;
    }

    .two_para {
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        margin-top: 16px;
        color: #9d9d9d;
    }

    section.section_two {
        background-image: url(../img/benifits-bgsvg.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 32% 0;
        padding-bottom: 18px;
        width: 100%;
    }

    figure.fig_one.last_img {
        width: 76%;
    }

    ul.list_three {
        height: auto;
        width: 62%;
        margin: 0 auto;
        margin-top: 28px;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }

    li.list_three {
        margin: 0 auto;
        background-color: #fff;
        border-radius: 8px;
        margin: 0 auto;
        min-height: 256px;
    }

    figure.fig_three {
        width: 67%;
        margin: 0 auto;
        padding: 0;
    }

    .fig_three img {
        width: 100%;
        min-height: 150px;
    }

    .button_blue.third_button {
        margin-top: 24px;
        width: 190px;
        margin-bottom: 75px;
        padding: 23px 9px;
    }

    .session_wrapper {
        width: 68%;
        margin: 0 auto;
        display: flex;
        padding: 16px;
    }

    h4.Free {
        text-align: center;
        color: #fff;
        font-size: 34px;
        padding-bottom: 28px;
    }

    .small_text {
        font-size: 34px;
        line-height: 82px;
    }

    .request_text {
        color: #fff;
        font-size: 22px;
        text-align: center;
        padding-bottom: 38px;
        padding-top: 0px;
        font-size: 30px;
    }

    figure.badgets {
        width: 41%;
        margin: 0 auto;
        position: absolute;
        top: 55px;
        right: 572px;
    }

    figure.badgets img {
        width: 192px;
        margin-top: 59px;
        margin-left: 52px;
    }

    .button_white_footer {
        text-align: center;
        margin: 0px auto;
        margin-bottom: 40px;
        padding: 23px 9px;
        background-color: #fff;
        color: #3b5fe3;
        border-radius: 7px;
        text-align: center;
        width: 190px;
        font-size: 16px;
        margin-top: 0px;
    }

    .free_session_offer {
        width: 52%;
        margin-top: -26px;
        padding: 10px;
    }

    .footer_wrapper {
        width: 94%;
        margin: 0 auto;
        font-size: 21px;
        overflow: hidden;
        font-size: 14px;
        margin-top: 0px;
    }

    .bottom_footer {
        background-color: #1d2e42;
        color: #fff;
        text-align: center;
        padding-top: 44px;
        padding-bottom: 9px;
    }

    figure.fig_four_twice {
        display: block;
        margin-top: 72px;
        margin-left: 83px;
    }

    .fig_four {
        width: 41%;
        margin: 0 auto;
        position: absolute;
        top: 44px;
        left: 706px;
    }

    .fig_four img {
        width: 567px;
    }

    ul.footer_list_group {
        padding-bottom: 29px;
        display: flex;
        justify-content: center;
        width: 44%;
        margin: 0 auto;
        margin-left: 375px;
    }

    small {
        float: left;
        font-size: 14px;
        left: 342px;
    }

    p.text {
        float: right;
        position: absolute;
        top: 0px;
        right: 342px;
    }
}
